.containerFormLogin {
  row-gap: 10vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-image: url(../../assets/img/Background.png);
  background-size: cover;
}

.titleLogin {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  margin-right: 3vw;
  font-size: larger;
}

.formLogin {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  height: 30vh;
  width: 40vw;
}

#inputEmailLogin {
  width: 95%;
  border-radius: 15px;
  padding: 8px;
}
#logoValidationLogin {
  width: 4vh;
  position: relative;
  top: -5.8vh;
  left: 35vw;
}

#inputPasswordlogin {
  width: 95%;
  border-radius: 15px;
  padding: 8px;
}

#btn-visibility-inscription-login {
  width: 4vh;
  position: relative;
  top: -5.8vh;
  left: 35vw;
}

.btnlogin {
  width: 95%;
  border-radius: 15px;
  padding: 8px;
  background-color: darkorange;
  font-weight: bold;
}

#btnCreateLogin {
  background-color: transparent;
  border: none;
  font-size: large;
  font-weight: bold;
}
